/* This stylesheet is used to style the admin option form of the plugin. */
#quotePoolWrap form {
	width: 25%;
	min-width: 30em;
	margin-top: 2.618em;
}

#quotePoolWrap form fieldset {
	border: 1px solid #C2C2C2;
	padding-top: 2.618em;
}

#quotePoolWrap form legend {
	font-size: 2.618em;
	margin-left: 0.618em;
}

#quotePoolWrap form label {
	width: 33%;
	display: inline-block;
	text-align: right;
	background-color: green;
	margin-right: 0;
	padding: 0.3em 0.6em;
	color: #FFF;
	cursor: default;
}

#quotePoolWrap form input[type="text"], #quotePoolWrap form textarea {
	width: 90%;
}

#quotePoolWrap form input, #quotePoolWrap form textarea {
	margin: 1.618em 1em;
}

input[type="submit"] {
	float: right;
}